 <p><%= link_to 'Criar Produto', new_product_path %></p>

<% @products.each do |product| %>
  <p>Produto: <%= product.name %></p>
  <p>Preço: R$<%= product.price %></p>
  <p>Quantidade: <%= product.quantity %></p>

  <p><%= link_to 'Ver Produto', product %></p>
  <p><%= link_to 'Editar Produto', edit_product_path(product) %></p>
<% end %>
